body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header styling */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(1,80,1);
    color: white;
}
.logo img{
    max-height: 100px;
    width:auto;
}
.nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-container button{
    float: right;
    padding: 5px 5px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.nav input[type=text]{
    padding: 10px;
}
.nav a{
    margin: 0 1rem;
    color: white;
    font-size: 30px;
}
.nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.profile-icon{
    margin-left: auto;
    font-size: 50px;
}
.profile-icon:hover{
    cursor: pointer;
}
/* background */
.picture img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}
/* main content */
.main-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
}
/* welcome */
.Welcome{
    width: 65.7%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.74);
    padding:5px;
}
.profile{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
/* calendar, events, favorites, group */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.74);
    flex-wrap: wrap;
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

/* calendar */
.calendar {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}
.calendar-header {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #007bff;
    color: white;
}
.calendar-days div {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-dates div {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: white;
}
.today {
    color:#007bff;
    font-weight: bold;
}
h3{
    color: rgb(1,80,1)
}

 /* favorite */
 .favorites {
    width: 48%; 
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding: 5px;
    height: 370px
  }
  
  .favorites h3 {
    font-size: 2rem;
    margin: 10px 0px 10px;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 3px;
  }

  /* Groups */
  .groups {
    width: 47%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 2px solid black;
    padding: 5px;
    height: 220px;
  }
  
  .groups h3 {
    font-size: 2em;
    margin: 10px 0px 10px;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 3px;
  }
  
  /* recs */
  .suggestions{
    width: 48%;
    border: 2px solid black;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .suggestions h3{
    font-size: 2em;
    margin: 10px 0px 10px;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 3px;
  }
  
  .fa-solid{
    padding: 5px;
  }